<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title></title>
    </head>
    <body>
        <h1>Pagina Inicial do nosso site!</h1>
        {## comentario ##}
        {{ 5 + 5 }} <!--valor fixo-->

        {{ res }}

        <table>
            {% for k, v in query.items() %}
                <tr>
                    <th>{{ k }}</th>
                    <td>{{ v }}</td>
                </tr>
            {% endfor %}
            {## http://localhost:5000/home?name=rodrigo&idade=29 ##}
        </table>
    </body>
</html>
